<div
  class="flex h-screen overflow-hidden bg-gradient-to-r from-cyan-50/50 to-lime-50/50">
  <div
    *ngIf="isSidebarOverlayOpen"
    class="sidebar-backdrop fixed inset-0 bg-black/40 z-30"></div>

  <aside
    class="
    fixed top-0 left-0 h-full
    w-52 bg-white border-r border-gray-200 shadow-lg
    transition-all duration-300 z-40
    flex flex-col
  "
    [class.w-14]="isMinibar"
    [class.-translate-x-full]="isMinibar"
    [class.translate-x-0]="!isMinibar">

    <div class="p-3 border-b border-gray-200">
      <img src="assets/img/logo/logo.new.svg"
        class="w-40 h-7"
        [class.hidden]="isMinibar" />
      <img src="assets/img/logo/logo40x37-mini.svg"
        class="w-9"
        [class.hidden]="!isMinibar" />
    </div>

    <div class="flex-1 overflow-y-auto scrollable-items">
      <app-sidebar
        [isMinibar]="isMinibar"
        (miniBarToggled)="onSidebarToggled($event)">
      </app-sidebar>
    </div>

  </aside>

  <div class="flex flex-col flex-1 overflow-hidden">
    <app-header
      class="sticky top-0 z-10 bg-white shadow-md"
      [isMinimal]="isMinibar"
      (miniBarToggled)="onSidebarToggled($event)">
    </app-header>

    <main class="flex-1 overflow-y-auto scrollable-items">
      <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
  </div>
</div>
