<div
  class="flex h-screen overflow-hidden bg-gradient-to-r from-cyan-50/50 to-lime-50/50">
  <!-- Sidebar -->
  <aside
    [class.w-48]="!isMinibar"
    [class.w-14]="isMinibar"
    class="flex flex-col bg-white shadow-lg transition-all duration-300 ease-in-out z-20">
    <div class="flex items-center justify-center p-3 border-b">
      <img
        src="assets/img/logo/logo.new.svg"
        class="w-40 h-7"
        [class.hidden]="isMinibar" />
      <img
        src="assets/img/logo/logo40x37-mini.svg"
        class="w-9"
        [class.hidden]="!isMinibar" />
    </div>

    <app-sidebar
      [isMinibar]="isMinibar"
      (miniBarToggled)="onSidebarToggled($event)"
      class="flex-1 overflow-y-auto"></app-sidebar>
  </aside>

  <!-- Content -->
  <div class="flex flex-col flex-1 overflow-hidden">
    <app-header
      class="sticky top-0 z-10 bg-white shadow-md"
      [isMinimal]="isMinibar"
      (miniBarToggled)="onSidebarToggled($event)"></app-header>

    <main class="flex-1 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>
  </div>
</div>
