<div class="step-box">
    <custom-select
        *ngIf="step === 1"
        placeholder="กรุณเลือกยี่ห้อรถ"
        (change)="selectBrand($event)">
        <custom-option
            *ngFor="let b of brands"
            [value]="b.id">
            {{ b.name }}
        </custom-option>
    </custom-select>

    <custom-select
        *ngIf="step === 2"
        placeholder="กรุณเลือกโมเดลรถ"
        (change)="selectModel($event)">
        <custom-option
            *ngFor="let m of models"
            [value]="m.id">
            {{ m.name }}
        </custom-option>
    </custom-select>

    <custom-select
        *ngIf="step === 3"
        placeholder="กรุณเลือกรถที่ต้องการ"
        (change)="selectVehicle($event)">
        <custom-option
            *ngFor="let v of vehicles"
            [value]="v">
            {{ v.model }} {{ v.generation ? ': ' + v.generation : '' }} ({{
            v.yearFrom }}-{{ v.yearTo }})
        </custom-option>
    </custom-select>

</div>
