<form [formGroup]="form" class="max-w-6xl mx-auto p-6 space-y-8 text-sm">

  <h1 class="text-xl font-semibold">
    {{ mode === 'create' ? 'สร้างสินค้า' : 'แก้ไขสินค้า' }}
  </h1>

  <section class="card">
    <h2 class="section-title">ข้อมูลสินค้า</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="label">ชื่อสินค้า
          <span class="text-red-600">*</span>
        </label>
        <input
          class="input"
          [class.border-red-500]="isInvalid('name')"
          formControlName="name"
          type="text"
          placeholder="กรุณากรอกชื่อสินค้า"
          appPreventSpecialChars />

        <p *ngIf="isInvalid('name')" class="error">
          กรุณากรอกชื่อสินค้า
        </p>

      </div>

      <div>
        <label class="label">สถานะ
          <span class="text-red-600">*</span>
        </label>
        <custom-select
          formControlName="status"
          placeholder="-- เลือกสถานะ --"
          [isError]="isInvalid('status')">

          <custom-option value="active">Active</custom-option>
          <custom-option value="inactive">Inactive</custom-option>
          <custom-option value="out_of_stock">Out of
            stock</custom-option>
          <custom-option
            value="discontinued">Discontinued</custom-option>
        </custom-select>

        <p *ngIf="isInvalid('status')"
          class="error">
          กรุณาเลือกสถานะ
        </p>

      </div>

      <div class="md:col-span-2">
        <label class="label">รายละเอียด</label>
        <textarea class="input h-24"
          formControlName="description"
          placeholder="กรุณากรอกรายละเอียดสินค้า"></textarea>
      </div>
    </div>
  </section>

  <section class="card">
    <h2 class="section-title">หมวดหมู่ / แบรนด์</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="label">หมวดหมู่
          <span class="text-red-600">*</span>
        </label>
        <app-custom-select-category
          formControlName="categoryId"
          [categories]="categories"
          placeholder="-- กรุณาเลือกหมวดหมู่ --"
          [isError]="form.controls['categoryId'].invalid && form.controls['categoryId'].touched">
        </app-custom-select-category>

        <p *ngIf="isInvalid('categoryId')"
          class="error">
          กรุณาเลือกหมวดหมู่
        </p>

      </div>

      <div *ngIf="isLoadedBrands">
        <label class="label">แบรนด์
          <span class="text-red-600">*</span>
        </label>

        <custom-select
          formControlName="brandId"
          placeholder="-- กรุณาเลือกแบรนด์ --"
          [isError]="isInvalid('brandId')">

          <app-custom-brand-option
            *ngFor="let brand of brands"
            [brand]="brand">
          </app-custom-brand-option>
        </custom-select>

        <p *ngIf="isInvalid('brandId')"
          class="error">
          กรุณาเลือกแบรนด์
        </p>

      </div>
    </div>
  </section>

  <section class="card" *ngIf="isVehicleBinding">
    <app-vehicle-compatibility
      formControlName="vehicles"
      [class.border-red-500]="isInvalid('vehicles')">
    </app-vehicle-compatibility>

    <p *ngIf="isInvalid('vehicles')" class="error">
      กรุณาเลือกรถอย่างน้อย 1 รายการ
    </p>
  </section>

  <section class="card">
    <h2 class="section-title">ราคา</h2>
    <span class="text-red-600">*</span>

    <div formGroupName="price" class="grid grid-cols-1 md:grid-cols-3 gap-4">

      <div>
        <label class="label">ราคาขายปลีก</label>
        <input
          type="text"
          class="input"
          appPrice
          formControlName="retail"
          placeholder="กรุณากรอกราคาขายปลีก" />
      </div>

      <div>
        <label class="label">ราคาขายส่ง</label>
        <input
          type="text"
          class="input"
          appPrice
          formControlName="wholesale"
          placeholder="กรุณากรอกราคาขายส่ง" />
      </div>

      <div>
        <label class="label">ราคาทุน</label>
        <input
          type="text"
          class="input"
          appPrice
          formControlName="cost"
          placeholder="กรุณากรอกราคาทุน" />
      </div>

    </div>

    <p *ngIf="form.get('price')?.errors?.['atLeastOnePrice'] && isFormSubmitted"
      class="error">
      กรุณากรอกราคาอย่างน้อย 1 ประเภท
    </p>
  </section>

  <section class="card">
    <h2 class="section-title">ข้อมูลจำเพาะ</h2>

    <div formGroupName="spec"
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4">
      <div class=" relative">
        <label class="label">หน่วย</label>
        <input
          class="input pr-12"
          placeholder="กรุณากรอกหน่วย"
          formControlName="unit" />
        <div class="spec-hint"> ตัวอย่าง: ชุด, ชิ้น, อัน </div>
      </div>

      <div class="relative">
        <label class="label">น้ำหนัก</label>

        <input
          appSpecInput
          [allowedUnits]="['g','kg']"
          type="text"
          class="input"
          placeholder="กรุณากรอกน้ำหนัก"
          formControlName="weight" />
        <div class="spec-hint"> ตัวอย่าง: 2.5 kg, 2500 g </div>
      </div>

      <div class="relative">
        <label class="label">ความกว้าง</label>
        <input
          appSpecInput
          [allowedUnits]="['mm','cm','m','in']"
          type="text"
          class="input"
          placeholder="กรุณากรอกความกว้าง"
          formControlName="width" />
        <div class="spec-hint"> ตัวอย่าง: 25 mm, 2.5 cm, 3 m, 1/4 in </div>
      </div>

      <div class="relative">
        <label class="label">ความสูง</label>
        <input
          appSpecInput
          [allowedUnits]="['mm','cm','m','in']"
          type="text"
          class="input"
          placeholder="กรุณากรอกความสูง"
          formControlName="height" />
        <div class="spec-hint"> ตัวอย่าง: 25 mm, 2.5 cm, 3 m, 1/4 in </div>
      </div>

      <div class="relative">
        <label class="label">ความลึก</label>
        <input
          appSpecInput
          [allowedUnits]="['mm','cm','m','in']"
          type="text"
          class="input"
          placeholder="กรุณากรอกความลึก"
          formControlName="depth" />
        <div class="spec-hint"> ตัวอย่าง: 25 mm, 2.5 cm, 3 m, 1/4 in </div>
      </div>

    </div>
  </section>

  <section class="card">
    <h2 class="section-title">รูปภาพสินค้า
      <span class="text-red-600">*</span>
    </h2>

    <app-file-upload
      (imagesChange)="onImagesChange($event)">
    </app-file-upload>

    <p *ngIf="isInvalid('images')" class="error">
      กรุณาอัปโหลดรูปสินค้าอย่างน้อย 1 รูป
    </p>

  </section>

  <div class="flex justify-end gap-3">
    <button class="btn-secondary" type="button"
      (click)="onCancel()">ยกเลิก</button>
    <button class="btn-primary" type="button" (click)="submit()">
      บันทึกสินค้า
    </button>
  </div>

</form>
