<div class="table-container">
  <div class="table-wrapper">
    <table *ngIf="!isLoading" class="table">
      <thead>
        <tr>
          <th>ลำดับ</th>

          <ng-container *ngFor="let h of headers">
            <th
              [ngClass]="{ sortable: h.isSort }"
              (click)="h.isSort ? onSort(h.headerName) : null"
            >
              {{ h.i18nKey || h.headerName }}

              <span *ngIf="h.isSort" class="inline-block ml-1">
                <img
                  *ngIf="sortField !== h.headerName"
                  src="assets/img/icons/icon.sort.svg"
                  class="sort-icon"
                />

                <img
                  *ngIf="sortField === h.headerName && sortDirection === 'asc'"
                  src="assets/img/icons/icon.sort.up.svg"
                  class="sort-icon"
                />

                <img
                  *ngIf="sortField === h.headerName && sortDirection === 'desc'"
                  src="assets/img/icons/icon.sort.down.svg"
                  class="sort-icon"
                />
              </span>
            </th>
          </ng-container>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of config?.vehicles; let i = index">
          <td>
            {{ i + 1 + (pageIndex - 1) * pageSize }}
          </td>

          <td>{{ row.licensePlate }} {{ row.province | province }}</td>

          <td>{{ row.firstname }}  {{row.lastname}}</td>

          <td>{{ row.vehicle.brand }}</td>

          <td>{{ row.vehicle.model }}</td>

          <td>{{ 23342 }} km</td>

          <!-- <td>
            {{ row.lastServiceDate ? formatDate(row.lastServiceDate) : "-" }}
          </td> -->

          <td>
            {{ row.registrationDt | timeAgo}}
          </td>

          <td>
            <span
              class="badge"
              [style.background]="getStatus(row.status)?.color + '20'"
              [style.color]="getStatus(row.status)?.color"
            >
              <span
                class="badge-dot"
                [style.background]="getStatus(row.status)?.color"
              ></span>

              {{ getStatus(row.status)?.label }}
            </span>
          </td>

          <td>
            <div class="action-group">
              <img
                src="assets/img/icons/icon.viewdetail.svg"
                class="action-icon"
                (click)="onView.emit(createVehicleKey(row))"
              />

              <img
                src="assets/img/icons/icon.edit.svg"
                class="action-icon"
                (click)="onEdit.emit(createVehicleKey(row))"
              />

              <img
                src="assets/img/icons/icon.bin.svg"
                class="action-icon"
                (click)="onDelete.emit(createVehicleKey(row))"
              />
            </div>
          </td>
        </tr>

        <tr *ngIf="config?.vehicles?.length === 0 || config == undefined">
          <td class="text-center py-5" [attr.colspan]="headers.length + 1">
            - ไม่พบข้อมูลรถ -
          </td>
        </tr>
      </tbody>
    </table>

    <app-lazy-load-table
      *ngIf="isLoading"
      [recordPerPage]="10"
      tableClass="table table-custom"
    >
    </app-lazy-load-table>
  </div>
</div>

<app-pagination
  *ngIf="config"
  aligns="end"
  [paginationOption]="paginationOption"
  [currentPage]="pageIndex"
  [recordPerPage]="pageSize"
  [totalRecord]="config.total"
  (changePage)="onPageChange($event)"
>
</app-pagination>
