<div class="w-full px-4">
  <div class="layout-content">
    <div class="flex flex-wrap items-center justify-between gap-4 mb-8">
      <app-content-title title="การจัดการผู้ใช้"></app-content-title>

      <button
        class="create-user-btn"
        (click)="onCreate()"
        [disabled]="isRoleAMD||isRoleSO">
        + สร้างผู้ใช้งาน
      </button>
    </div>

    <app-search-user-management
      [username]="username"
      [role]="role"
      (search)="onSearchSubmit($event)"
      (reset)="onResetCriteria()">
    </app-search-user-management>

    <app-table-user-management
      [headers]="headers"
      [config]="userList"
      [pageIndex]="page"
      [pageSize]="limit"
      (onView)="viewDetail($event)"
      (onReset)="onReset($event)"
      (sortEmit)="onSort($event)"
      (changePage)="onChangePage($event)">
    </app-table-user-management>

  </div>
</div>

<app-modal-condition
  (onConfirm)="handleOnModalConfirm($event)"
  [isLoading]="isLoadingReset">
</app-modal-condition>

<app-reset-password-modal (newPassword)="resetPasswordEvent($event)"
  [isPasswordInvalid]="isPasswordInvalid"></app-reset-password-modal>
