<div class="vehicle-page">
  <div class="page-header">
    <div>
      <app-content-title title="Vehicle Management"></app-content-title>

      <p class="page-subtitle">จัดการข้อมูลรถยนต์ของลูกค้า</p>
    </div>

    <button class="create-btn" (click)="onCreate()">
      <i class="fa-solid fa-plus"></i>

      <span>เพิ่มรถยนต์</span>
    </button>
  </div>

  <div class="summary-grid">
    <div class="summary-card">
      <div class="summary-icon blue">
        <lucide-icon name="car-front"></lucide-icon>
      </div>

      <div class="summary-content">
        <span class="summary-title">รถทั้งหมด</span>

        <h2>{{ dashboard.totalVehicles }}</h2>

        <small>Vehicles in system</small>
      </div>
    </div>

    <div class="summary-card">
      <div class="summary-icon orange">
        <lucide-icon name="wrench"></lucide-icon>
      </div>

      <div class="summary-content">
        <span class="summary-title">กำลังเข้ารับบริการ</span>

        <h2>{{ dashboard.inService }}</h2>

        <small>Vehicles in service</small>
      </div>
    </div>

    <div class="summary-card">
      <div class="summary-icon green">
        <lucide-icon name="circle-check-big"></lucide-icon>
      </div>

      <div class="summary-content">
        <span class="summary-title">ซ่อมเสร็จ</span>

        <h2>{{ dashboard.completed }}</h2>

        <small>Completed</small>
      </div>
    </div>

    <div class="summary-card">
      <div class="summary-icon red">
        <lucide-icon name="circle-x"></lucide-icon>
      </div>

      <div class="summary-content">
        <span class="summary-title">ยกเลิก</span>

        <h2>{{ dashboard.cancelled }}</h2>

        <small>Cancelled</small>
      </div>
    </div>
  </div>

  <div class="mb-8">
    <app-search-vehicle (search)="onSearch($event)" (reset)="onResetCriteria()">
    </app-search-vehicle>
  </div>
  <section class="content-card p-2">
    <div class="content-header">
      <div>
        <h3>รายการรถทั้งหมด</h3>

        <p>แสดงข้อมูลรถทั้งหมดภายในระบบ</p>
      </div>

      <div class="vehicle-count">
        {{ 0 }}

        <span>คัน</span>
      </div>
    </div>

    <app-table-vehicle-list
      [headers]="headers"
      [config]="vehicleList"
      [pageIndex]="page"
      [pageSize]="limit"
      [isLoading]="isLoading"
      (onEdit)="onEdit($event)"
      (onView)="viewDetail($event)"
      (onDelete)="onDelete($event)"
      (sortEmit)="onSort($event)"
      (changePage)="onChangePage($event)"
    >
    </app-table-vehicle-list>
  </section>
</div>

<app-modal-condition
  [isLoading]="isLoadingReset"
  (onConfirm)="handleOnModalConfirm($event)"
>
</app-modal-condition>
