<form [formGroup]="passwordForm" class="w-full relative">

  <!-- input group -->
  <div class="relative">
    <input
      #passwordInput
      class="form-input password-input pr-10"
      placeholder="กรุณากรอกรหัสผ่าน"
      maxlength="30"
      [class.form-input-red]="(passwordStrength.strength > 0 && !isPasswordEnable) || isError"
      formControlName="password"
      [type]="isPasswordVisible ? 'text' : 'password'"
      (focus)="showTailwindPopover()"
      (blur)="hideTailwindPopover()"
      (keydown)="checkPasswordStrength($event)"
      (paste)="onPaste($event)"
      autocomplete="off" />

    <div
      class="password-toggle z-20"
      (click)="togglePasswordVisibility()"
      [class.show]="isPasswordVisible">
    </div>
  </div>

  <div
    *ngIf="isPopoverVisible"
    class="absolute left-0 mt-2 w-[22rem] bg-white shadow-xl rounded-xl border border-gray-200 p-4 text-[#00162b] z-[9999] animate-fade-in">

    <div class="font-semibold text-[0.833rem] mb-2">
      รูปแบบการตั้งรหัสผ่าน
    </div>

    <ul class="list-disc pl-5 text-[0.75rem] leading-relaxed">
      <li>ห้ามตั้งรหัสผ่านซ้ำกับรหัสผ่านเดิมที่เคยใช้มาแล้ว</li>
      <li>ห้ามตั้งรหัสผ่านที่สามารถคาดเดาง่าย เช่น 1111aaaa
        หรือชื่อผู้ใช้งาน</li>
      <li>รหัสผ่านต้องมีความยาวอย่างน้อย 12 ตัวอักษร</li>
      <li>รวมตัวอักษรภาษาอังกฤษตัวพิมพ์ใหญ่ (A-Z)</li>
      <li>รวมตัวอักษรภาษาอังกฤษตัวพิมพ์เล็ก (a-z)</li>
      <li>รวมเลขอารบิค (0-9)</li>
      <li>รวมอักขระพิเศษ (สำหรับปลั๊กอิน ให้ใช้ &#64; หรือ # เท่านั้น)</li>
    </ul>

    <div class="font-semibold text-[0.833rem] mt-3 mb-1">
      หมายเหตุ
    </div>
    <p class="text-[0.75rem] leading-relaxed">
      กรุณาตรวจสอบให้แน่ใจว่ารหัสผ่านของคุณเป็นไปตามแนวทางความปลอดภัย
      เพื่อป้องกันการเข้าถึงบัญชีโดยไม่ได้รับอนุญาต
    </p>
  </div>

  <div class="mt-2">
    <ul class="flex space-x-2 mt-2">
      <li class="h-1 flex-1 bg-gray-300 rounded"
        [style.backgroundColor]="barColors[0]"></li>
      <li class="h-1 flex-1 bg-gray-300 rounded"
        [style.backgroundColor]="barColors[1]"></li>
      <li class="h-1 flex-1 bg-gray-300 rounded"
        [style.backgroundColor]="barColors[2]"></li>
      <li class="h-1 flex-1 bg-gray-300 rounded"
        [style.backgroundColor]="barColors[3]"></li>
    </ul>
  </div>

  <div class="mt-2 text-right">
    <span class="modal-text" [style.color]="messageColor">
      {{ passwordStrengthLevelText }}
    </span>
  </div>

</form>
