<div
  *ngIf="optionModal.isOpen"
  class="fixed inset-0 z-[120] bg-black/50 backdrop-blur-sm flex items-center justify-center">
  <div
    class="bg-white w-full max-w-xl mx-4 rounded-3xl shadow-2xl p-8 animate-fadeIn">
    <form [formGroup]="passwordForm">

      <h2 class="text-2xl font-bold text-slate-900 mb-8">
        รีเซ็ตรหัสผ่าน
      </h2>

      <div class="flex justify-between items-end mb-2">
        <span class="font-semibold text-slate-700">รหัสผ่านใหม่</span>

        <button
          type="button"
          class="px-4 py-1.5 rounded-xl border border-slate-300 bg-white text-sm font-semibold text-slate-700 hover:bg-slate-100 transition"
          (click)="generatePassword()">
          สร้างรหัสผ่านอัตโนมัติ
        </button>
      </div>

      <app-strong-password-input
        #StrongPasswordInputComponent
        (onCompletePassword)="checkData($event)"
        [position]="'left'"
        [isError]="isPasswordInvalid"
        [isPasswordExist]="isPasswordDuplicate"></app-strong-password-input>

      <div class="mt-6">
        <span class="font-semibold text-slate-700">
          ยืนยันรหัสผ่านใหม่อีกครั้ง
        </span>

        <div class="relative mt-2">
          <input
            formControlName="confirmPassword"
            type="{{ passwordVisibleConfirm ? 'text' : 'password' }}"
            placeholder="กรุณายืนยันรหัสผ่านใหม่"
            class="form-input-custom focus:outline-none focus:border-[#88c273]"
            [ngClass]="{
              'border-error':
                passwordForm.get('confirmPassword')?.value &&
                passwordForm.get('newPassword')?.value !== passwordForm.get('confirmPassword')?.value
            }" />

          <button
            type="button"
            (click)="togglePasswordVisibilityConfirm()"
            class="absolute right-4 top-1/2 -translate-y-1/2 w-5 h-5 bg-no-repeat bg-center password-toggle"
            [class.show]="passwordVisibleConfirm"></button>
        </div>

        <div
          *ngIf="
            passwordForm.get('confirmPassword')?.value &&
            passwordForm.get('newPassword')?.value !== passwordForm.get('confirmPassword')?.value
          "
          class="flex items-center gap-2 mt-2">
          <img src="assets/img/alert-icon.svg" class="w-3 h-3" />
          <span class="text-xs text-red-500">รหัสผ่านไม่ตรงกัน</span>
        </div>
      </div>

      <div class="flex justify-center gap-4 mt-10">
        <button
          type="button"
          class="w-28 py-2.5 rounded-xl border border-slate-300 bg-white font-semibold text-slate-700 hover:bg-slate-50 transition"
          (click)="closeModal()">
          ยกเลิก
        </button>

        <button
          type="button"
          (click)="onConfirm()"
          class="w-28 py-2.5 rounded-xl bg-[#FFEA00]  font-semibold shadow hover:bg-[#FDDA0D] transition disabled:opacity-40"
          [disabled]="
            !(passwordForm.get('newPassword')?.value &&
              passwordForm.get('confirmPassword')?.value &&
              passwordForm.get('newPassword')?.value ===
                passwordForm.get('confirmPassword')?.value)
          ">
          ยืนยัน
        </button>
      </div>
    </form>
  </div>
</div>
