<ul
  #menuList
  class="sidebar-menu w-full"
  [ngClass]="{ 'mini-bar': isMinibar }">
  <li *ngFor="let menu of menus.menus" class="mb-1">

    <!-- MAIN MENU -->
    <div
      class="menu-list flex items-center px-3 py-2 rounded-lg cursor-pointer transition-all duration-150
             hover:bg-gray-50 rounded-t-xl "
      (click)="menu.children.length ? isShowExpand(menu.key) : navigate(menu.endpoint); handleMiniBarToggle()"
      [attr.data-bs-toggle]="!isMinibar && menu.children.length ? 'collapse' : null"
      [attr.href]="menu.children.length ? '#' + menu.key + 'Menu' : null">
      <span
        class="icon-menu relative flex items-center justify-center w-6 h-6"
        [ngClass]="{
          'after:content-[\'\'] after:absolute after:w-2.5 after:h-2.5 after:bg-yellow-400 after:rounded-full after:-right-1 after:top-1':
            isActiveParentMenu(menu)
        }">
        <img class="w-5 h-5" [src]="'assets/img/menu' + menu.icon" alt />
      </span>

      <span class="text-menu ml-3 font-normal"
        *ngIf="!isMinibar">
        {{ menu.displayName }}
      </span>

      <span
        class="ml-auto icon-expand transition-transform"
        *ngIf="menu.children.length && !isMinibar">
        <img
          class="w-4 h-4 transition-transform"
          [ngClass]="{ 'rotate-90': expands[menu.key] }"
          src="assets/img/icon.expand.close.svg"
          alt />
      </span>
    </div>

    <div
      *ngIf="menu.children.length"
      class="pl-10 mt-1 transition-all"
      [id]="menu.key + 'Menu'"
      [ngClass]="{
  'block': !isMinibar && (isActiveMenu(menu.endpoint) || expands[menu.key]),
  'hidden': isMinibar || !(isActiveMenu(menu.endpoint) || expands[menu.key])
  }">
      <div *ngFor="let child of menu.children">
        <div
          class="submenu flex items-center py-2 px-3 rounded-md cursor-pointer text-sm
                 hover:bg-gray-50 rounded-t-xl transition-all"
          [ngClass]="{
            'bg-lime-400 font-semibold text-black': isActiveMenu(child.endpoint)
          }"
          (click)="navigate(child.endpoint)">
          {{ child.displayName }}
        </div>
      </div>
    </div>

  </li>
</ul>
